--
-- PostgreSQL database dump
--

\restrict h0AdCWMgxn0ryU2n8vOFVC3R3goVmI7o0CsdKJXUsbizvuXVIZjCNg0xchYOlVg

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: tickets; Type: TABLE; Schema: public; Owner: ticketing_user
--

CREATE TABLE public.tickets (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    category character varying(50),
    severity character varying(50),
    date_created timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    status character varying(50) DEFAULT 'open'::character varying,
    approver character varying(255),
    fixer character varying(255),
    attachment_upload text
);


ALTER TABLE public.tickets OWNER TO ticketing_user;

--
-- Name: tickets_id_seq; Type: SEQUENCE; Schema: public; Owner: ticketing_user
--

CREATE SEQUENCE public.tickets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tickets_id_seq OWNER TO ticketing_user;

--
-- Name: tickets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ticketing_user
--

ALTER SEQUENCE public.tickets_id_seq OWNED BY public.tickets.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: ticketing_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    phone character varying(20),
    email character varying(255) NOT NULL,
    department character varying(100),
    approval_tier integer
);


ALTER TABLE public.users OWNER TO ticketing_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: ticketing_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO ticketing_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ticketing_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: tickets id; Type: DEFAULT; Schema: public; Owner: ticketing_user
--

ALTER TABLE ONLY public.tickets ALTER COLUMN id SET DEFAULT nextval('public.tickets_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: ticketing_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: tickets; Type: TABLE DATA; Schema: public; Owner: ticketing_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: ticketing_user
--

COPY public.users (id, name, phone, email, department, approval_tier) FROM stdin;
1	Gary	123	gary@gmail.com	IT	1
2	Amos	234	amos@gmail.com	IT	2
3	Bryan	345	bryan@gmail.com	IT	3
\.


--
-- Name: tickets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ticketing_user
--

SELECT pg_catalog.setval('public.tickets_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ticketing_user
--

SELECT pg_catalog.setval('public.users_id_seq', 3, true);


--
-- Name: tickets tickets_pkey; Type: CONSTRAINT; Schema: public; Owner: ticketing_user
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: ticketing_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: ticketing_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_users_department; Type: INDEX; Schema: public; Owner: ticketing_user
--

CREATE INDEX idx_users_department ON public.users USING btree (department);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: ticketing_user
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- PostgreSQL database dump complete
--

\unrestrict h0AdCWMgxn0ryU2n8vOFVC3R3goVmI7o0CsdKJXUsbizvuXVIZjCNg0xchYOlVg

